.blog {
  margin-top: 120px;
  margin-bottom: 90px;
}

.blog h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.blog__link {
  max-width: 75px;
  margin: 0 auto;
  padding-bottom: 5px;
  display: flex;
  color: $black-2;
  border-bottom: 1px solid $brown;

  &:hover,
  &:focus {
    color: $brown;
    transform: scaleX(1.1);
    transition: 0.6s;
  }
}

.blog__list {
  height: 660px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.blog__item {
  position: relative;
  max-width: 570px;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-grow: 1;
  background-color: $light-orange;
}

.blog__item:nth-child(even) {
  justify-content: flex-start;
}

.blog__item:last-child {
  margin-left: 30px;
}

.blog__item--care {
  background: url("../img/blog/care_desk@1x.jpg") no-repeat center;
  background-size: contain;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/care_desk@2x.jpg");
  }
}

.blog__item--power {
  background: url("../img/blog/power_desk@1x.jpg") no-repeat center;
  background-size: contain;
  background-position: top right;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/power_desk@2x.jpg");
  }
}

.blog__item--trends {
  background: url("../img/blog/trends_desk@1x.jpg") no-repeat center;
  background-size: cover;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog/trends_desk@2x.jpg");
  }
}

@media (max-width: 1023px) {
  .blog {
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .blog__list {
    height: auto;
    flex-wrap: nowrap;
  }

  .blog__item {
    max-width: 100%;
    margin-bottom: 50px;
    flex-basis: 100%;
    flex-grow: 0;
  }

  .blog__item:last-child {
    margin-left: 0;
  }

  .blog__item--care {
    background: url("../img/blog/care_tab@1x.jpg") no-repeat center;
    background-size: 50% 100%;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/care_tab@2x.jpg");
    }
  }

  .blog__item--power {
    background: url("../img/blog/power_tab@1x.jpg") no-repeat center;
    background-size: 50% 100%;
    background-position: top right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/power_tab@2x.jpg");
    }
  }

  .blog__item--trends {
    background: url("../img/blog/trends_tab@1x.jpg") no-repeat center;
    background-size: 50% 100%;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/trends_tab@2x.jpg");
    }
  }
}

@media (max-width: 767px) {
  .blog {
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .blog__list {
    margin-top: 50px;
  }

  .blog__item,
  .blog__item:nth-child(even) {
    min-height: 512px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .blog__item--care {
    background: url("../img/blog/care_mob@1x.jpg") no-repeat center;
    background-size: 100% 50%;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/care_mob@2x.jpg");
    }
  }

  .blog__item--power {
    background: url("../img/blog/power_mob@1x.jpg") no-repeat center;
    background-size: 100% 50%;
    background-position: top right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/power_mob@2x.jpg");
    }
  }

  .blog__item--trends {
    background: url("../img/blog/trends_mob@1x.jpg") no-repeat center;
    background-size: 100% 50%;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog/trends_mob@2x.jpg");
    }
  }
}
