.card-photos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card-photos__list {
  @include reset-list;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-photos img {
  display: block;
}

.card-photos__full {
  max-width: 470px;
  height: 435px;
}

.card-photos__item {
  width: 100px;
  height: 125px;
}

.card-photos__full img,
.card-photos__item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1023px) {
  .card-photos {
    max-width: 319px;
    flex-direction: column;
  }

  .card-photos__list {
    margin-right: 0;
    flex-direction: row;
  }

  .card-photos__full {
    max-width: 319px;
    height: 286px;
    margin-bottom: 10px;
  }

  .card-photos__item {
    width: 97px;
    height: 129px;
  }
}

@media (max-width: 767px) {
  .card-photos__list {
    display: none;
  }

  .card-photos__full {
    min-width: 290px;
    height: 260px;
    margin-bottom: 50px;
  }
}
