.card {
  margin-top: 80px;
  margin-bottom: 120px;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
}

.card__photo {
  flex-basis: 51%;
}

.card__info {
  max-width: 370px;
  margin: 0 auto;
  flex-basis: 49%;
}

@media (max-width: 1023px) {
  .card {
    margin: 30px auto 75px;
  }

  .card__wrapper {
    justify-content: space-around;
  }

  .card__info {
    max-width: 319px;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .card {
    margin-top: 0;
    margin-bottom: 57px;
  }

  .card__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card__photo {
    flex-basis: 100%;
  }

  .card__info {
    flex-basis: 100%;
  }
}
