.faq {
  margin-bottom: 118px;
}

.faq__wrapper {
  max-width: 1000px;
}

.faq__wrapper h2 {
  margin: 0;
  margin-bottom: 50px;
  font-family: $serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $black-2;
  text-align: center;
}

.faq__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.faq__item {
  padding: 43px 43px;
  border: 1px solid $brown;
  cursor: pointer;

  &:hover,
  &:focus-within {
    background-color: $light-brown;
  }
}

.faq__title {
  position: relative;
  width: 100%;
  padding: 0;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: $black-2;
  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    width: 11px;
    height: 1px;
    background-color: $brown;
    content: "";
  }

  &::before {
    right: 10px;
    transform: rotate(-45deg);
  }

  &::after {
    right: 17px;
    transform: rotate(45deg);
  }
}

.faq__item:not(:last-child) {
  border-bottom: none;
}

.faq__item p {
  max-width: 530px;
  margin: 0;
  margin-top: 10px;
  padding-left: 5px;
  font-weight: 400;
  color: $black-2;
  display: none;
}

.faq__list--nojs .faq__item p,
.faq__item--opened p {
  display: block;
}

.faq__item--opened button {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 1023px) {
  .faq {
    margin-bottom: 70px;
  }

  .faq__item {
    padding: 43px 20px 43px 48px;
  }

  .faq__item p {
    margin-top: 30px;
    padding-left: 0;
  }

  .faq__title {
    &::before,
    &::after {
      width: 17px;
    }

    &::before {
      right: 26px;
    }

    &::after {
      right: 38px;
    }
  }
}

@media (max-width: 767px) {
  .faq {
    margin-bottom: 55px;
  }

  .faq__wrapper h2 {
    margin-bottom: 28px;
    line-height: 1.3;
  }

  .faq__item {
    padding: 20px 25px 20px 24px;
  }

  .faq__item p {
    margin-top: 17px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 1.4;
  }

  .faq__title {
    font-size: 16px;
    line-height: 1.3;
    padding-right: 57px;

    &::before,
    &::after {
      width: 15px;
      top: 20%;
    }

    &::before {
      right: 0;
      transform: rotate(-45deg);
    }

    &::after {
      right: 10px;
      transform: rotate(45deg);
    }
  }

  .faq__item--delivery {
    padding-right: 85px;
  }

  .faq__title--return {
    padding-right: 37px;
  }

  .faq__item--opened button {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
