.feedback {
  max-width: 580px;
  padding: 8px 0 0 0;
}

.feedback__wrap {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.feedback ul {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.feedback li {
  margin-bottom: 22px;
}

.feedback a {
  display: block;
  color: $white;

  &:hover,
  &:focus {
    color: $grey;
  }
}

@media (max-width: 1023px) {
  .feedback {
    max-width: 100%;
    padding: 48px 0 0 0;
  }

  .feedback__wrap {
    width: 370px;
  }
}

@media (max-width: 767px) {
  .feedback__wrap {
    flex-direction: column;
  }

  .feedback ul {
    margin-bottom: 20px;
  }

  .feedback ul:last-child {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__info li {
    width: 280px;
  }
}
