.feedback {
  padding: 10px 0 0 40px;
}

.feedback ul {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.feedback li {
  margin-bottom: 20px;
}

.feedback a {
  display: block;
  color: $white;

  &:hover,
  &:focus {
    color: $grey;
  }
}

.feedback__services {
  margin-right: 20px;
}

.feedback__social {
  margin-left: 40px;
}

@media (max-width: 1023px) {
  .feedback {
    padding: 50px 0 0 0;
  }

  .feedback__services {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .feedback ul:last-child {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__social {
    margin-left: 0;
  }

  .feedback__services {
    margin-bottom: 25px;
  }

  .feedback__info {
    margin-bottom: 30px;
  }
}
