.feedback {
  max-width: 580px;
  padding: 8px 0 0 0;
}

.feedback ul {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.feedback li {
  margin-bottom: 22px;
}

.feedback a {
  display: block;
  color: $white;

  &:hover,
  &:focus {
    color: $grey;
  }
}

.feedback__services {
  margin-right: 20px;
}

.feedback__info {
  margin-right: 20px;
}

@media (max-width: 1023px) {
  .feedback {
    max-width: 100%;
    padding: 50px 0 0 0;
  }

  .feedback__services {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .feedback ul {
    margin-bottom: 20px;
  }

  .feedback ul:last-child {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
