.footer {
  margin-top: auto;
  background-color: $black;
}

.footer__wrapper {
  padding: 90px 15px 70px;
  display: flex;
  justify-content: space-between;
}

.footer__subscribe {
  flex-basis: 45%;
  max-width: 500px;
}

.footer__feedback {
  flex-basis: 55%;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer__wrapper {
    padding: 48px 150px 40px 45px;
    flex-direction: column;
  }

  .footer__subscribe {
    flex-basis: 100%;
    max-width: 98%;
  }

  .footer__feedback {
    flex-basis: 100%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    padding: 50px 15px 15px;
  }

  .footer__feedback {
    flex-direction: column;
  }
}
