.intro {
  position: relative;
  max-width: 1366px;
  min-height: 463px;
  margin: 0 auto;
  background: url("../img/bg/main_desk@1x.jpg") no-repeat center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg/main_desk@2x.jpg");
    background-size: 100% 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $bg-intro;
    width: 100%;
    min-height: 463px;
  }
}

.intro__slogan {
  position: relative;
  z-index: 7;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__slogan p {
  margin: 0;
  font-family: $serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $white;
}

.intro__slogan em {
  font-family: $serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  color: $white;
}

@media (max-width: 1023px) {
  .intro {
    background: url("../img/bg/main_tab@1x.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/main_tab@2x.jpg");
      background-size: 100% 100%;
    }
  }
}

@media (max-width: 767px) {
  .intro {
    background: url("../img/bg/main_mob@1x.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/main_mob@2x.jpg");
      background-size: 100% 100%;
    }
  }

  .intro__slogan {
    padding-top: 190px;
  }

  .intro__slogan p {
    font-size: 38px;
  }

  .intro__slogan em {
    font-size: 34px;
  }
}
