.new--card {
  margin-bottom: 125px;
}

.new__wrapper {
  position: relative;
}

.new__slider {
  margin-top: 60px;
  padding-bottom: 30px;
}

.new h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: $serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.new__link {
  max-width: 87px;
  margin: 0 auto;
  display: flex;
  color: $black-2;
  border-bottom: 1px solid $brown;

  &:hover,
  &:focus {
    color: $brown;
    transform: scaleX(1.1);
    transition: 0.6s;
  }
}

.new__item-count {
  text-align: center;
}

.new__item-count .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: $grey;
  border: none;
  opacity: 1;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brown;
    text-decoration: underline;
  }
}

.new__item-count .swiper-pagination-bullet-active {
  color: $black-2;
  background: transparent;
}

.new__item-button {
  position: absolute;
  top: 35px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.new__item-prev-button {
  left: 0;
}

.new__item-next-button {
  right: 15px;
}

.new__item-button svg {
  width: 30px;
  height: 11px;
  stroke: $brown;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@media (max-width: 1023px) {
  .new--card {
    margin-bottom: 75px;
  }

  .new__slider {
    margin-top: 50px;
    padding-bottom: 20px;
  }

  .new__item img {
    width: 324px;
    height: 340px;
  }

  .new__item-prev-button {
    top: 40px;
    left: 45px;
  }

  .new__item-next-button {
    top: 40px;
    right: 45px;
  }

  .new__item-button svg {
    width: 36px;
    height: 15px;
  }
}

@media (max-width: 767px) {
  .new__slider {
    margin-top: 45px;
    padding-bottom: 15px;
  }

  .new__item img {
    width: 100%;
    height: auto;
  }

  .new__item-button {
    display: none;
  }
}
