.product a {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black-2;

  &:hover,
  &:focus {
    color: $brown;
  }
}

.product h3 {
  margin: 18px 0 10px 0;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.product span {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .product h3 {
    margin-top: 10px;
    text-align: center;
  }
}
