.social a {
  display: flex;
  justify-content: flex-start;
}

.social__link svg {
  width: 15px;
  height: 15px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.social__link--fb svg {
  width: 8px;
  height: 15px;
}

.social__link--twitter svg {
  width: 15px;
  height: 13px;
}

.social__link span {
  margin-left: 18px;
}

@media (max-width: 767px) {
  .social a {
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 0;
  }

  .social__link svg {
    width: 20px;
    height: 21px;
  }

  .social__link--fb svg {
    width: 12px;
    height: 21px;
  }

  .social__link--twitter svg {
    width: 20px;
    height: 18px;
  }

  .social span {
    display: none;
  }
}
