$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$sans-serif: "Poppins", "Helvetica", sans-serif;
$serif: "Cormorant Garamond", "Georgia", serif;

$white: #ffffff;
$black: #000000;
$black-2: #1d1613;
$grey: #9b9997;
$brown: #a87b62;
$light-orange: #f0eae4;
